{% extends 'groups/base.html' %}

{% block content %}
    <div style="top: 50%; left: 50%; width: 40%; height: 35%; background: #f7bd37; position: absolute; border-radius: 10px; margin: -17.25% 0 0 -20%;">
        <h1 style="text-align: center;">Create a new group</h1>
        <form method="POST" class="post-form" style="display: block; margin: 0 auto; text-align: center;">{% csrf_token %}
            <div class="input-group" style="display: block; margin: 0 auto;">
                {{ form.as_p }}
            </div>
            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    </div>
{% endblock %}
